<%= form_for @short, :html => {:class => "extra-form-styling"} do |f| %>
	<% if @short.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@short.errors.count,"error") %> prohibited this url from being saved:</h2>
			<ul>
				<% @short.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

		
			<%= f.text_field :long, :placeholder => "Paste your url", :class =>'form-field' %>
			<%= f.text_field :desc, :placeholder => "Optional Description", :class => 'form-field' %>
		<div class="actions">
			<%= f.submit "Make it short", :class => 'create-button' %>
		</div>
<% end %>